@page
@using MagicItemShop.Web.DMPG.Models
@using MagicItemShop.Web.Extensions
@using MagicItemShop.Web.Pages
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json.Linq

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<style>
    .rarity--Common {
        color: #8a4f4f;
    }
    .rarity--Uncommon {
        color: #4a7094;
    }
    .rarity--Rare {
        color: #a88a03;
    }
    .rarity--VeryRare {
        color: #ff8000;
    }
    .rarity--Legendary {
        color: #ff0045;
    }
    .rarity--Artifact {
        color: #009f9f;
    }
    .rarity--Varies {
        color: #84cb98;
    }
    
    .magic-items-table {
        font-size: 18px;
    }
    
    .magic-items-table th {
        font-size: 125%;
    }
    
    .magic-items-table th,
    .magic-items-table td {
        padding: 0.5rem 1rem;
        vertical-align: middle;
    }
    
    .magic-items-table th.rarity,
    .magic-items-table td.rarity {
        width: 120px;
    }
    
    .magic-items-table > tbody > tr:nth-of-type(2n+1) > * {
        background-color: rgba(80, 20, 0, 0.025);
    }
</style>

<div class="container">
    @foreach (var shop in Model.MagicItemShops)
    {
        <section class="mt-5">
            <h1 class="font-heading text-center" style="color: #900">
                @shop.Name
            </h1>

            <table class="table magic-items-table">
                <!-- Header Row -->
                <tr>
                    <th>Name</th>
                    <th class="rarity">Rarity</th>
                    <th>Type</th>
                    <th>Source</th>
                    <th>Price</th>
                </tr>

                <!-- Item Rows -->
                @foreach (var item in shop.Inventory)
                {
                    <tr>
                        <td class="rarity--@item.Rarity" style="font-size: 110%">
                            <a href="@item.Url" target="_blank" class="fw-bold" style="color: inherit">
                                @item.Name

                                <i class="mdi mdi-open-in-new" style="font-size: 80%; vertical-align: text-bottom;"></i>
                            </a>
                        </td>
                        <td class="rarity rarity--@item.Rarity">
                            @item.Rarity.ToEnumMemberName()
                        </td>
                        <td>
                            @item.Type.ToEnumMemberName()
                            @if (item.RequiresAttunement)
                            {
                                <i>&mdash; requires attunement</i>
                            }
                        </td>
                        <td class="text-black-50">
                            @item.Source.ToEnumMemberName()
                        </td>
                        <td style="white-space: nowrap">
                            @if (item.Price > 0)
                            {
                                <img src="~/images/gold_coin_single.png" alt="Gold Piece" width="25" style="vertical-align: top">
                                <text>
                                    @item.Price gp
                                </text>
                            }
                            else
                            {
                                <img src="~/images/rupee.svg" alt="Treasure" width="25" style="vertical-align: top">
                                <text>
                                    <span class="fw-bold" style="color: #FF7800">Priceless</span>
                                </text>
                            }
                        </td>
                    </tr>
                }
            </table>
        </section>
    }
</div>